[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
functions-framework = "==3.*"
google-cloud-language = "==2.*"
pytest = "==6.*"
coverage = "==7.5.1"

[dev-packages]

[requires]
python_version = "3.12"
