
<div class="container-principal">
    <div class="container d-flex align-items-center justify-content-center">
      <div class="container-sm align-items-center justify-content-center">
        <mat-tab-group (selectedTabChange)="onTabChange($event)">
            <mat-tab label="Reservaciones Pasadas">
                <div style="margin: 15px;">
                    <form class="past-form">
                        <mat-form-field class="example-full-width">
                          <mat-label>Id del cliente</mat-label>
                          <input matInput placeholder="Ex. client1" [(ngModel)]="clientId">
                          <mat-hint align="start">Escribe un id válido de un cliente para comenzar la búsqueda.</mat-hint>
                        </mat-form-field>
                        <button mat-icon-button color="primary" >
                            <mat-icon style="color: white;">send</mat-icon>
                          </button>
                      </form>

                      <!-- Verify that the table will not be displayed until a name is choosed-->
                      <table *ngIf="" mat-table [dataSource]="all_reservations" class="mat-elevation-z8">

                        <!-- Position Column -->
                        <ng-container matColumnDef="Reservation_ID">
                          <th mat-header-cell *matHeaderCellDef> Id de reservación </th>
                          <td mat-cell *matCellDef="let element"> {{element.Reservation_ID}} </td>
                        </ng-container>
                      
                        <!-- Name Column -->
                        <ng-container matColumnDef="User_ID">
                          <th mat-header-cell *matHeaderCellDef> Id de usuario </th>
                          <td mat-cell *matCellDef="let element"> {{element.User_ID}} </td>
                        </ng-container>
                      
                        <!-- Weight Column -->
                        <ng-container matColumnDef="Number_Of_People">
                          <th mat-header-cell *matHeaderCellDef> Espacios </th>
                          <td mat-cell *matCellDef="let element"> {{element.Number_Of_People}} </td>
                        </ng-container>
                      
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="Date_Reserved">
                          <th mat-header-cell *matHeaderCellDef> Fecha </th>
                          <td mat-cell *matCellDef="let element"> {{element.Date_Reserved}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="Start_Time">
                            <th mat-header-cell *matHeaderCellDef> Hora entrada </th>
                            <td mat-cell *matCellDef="let element"> {{element.Start_Time}} </td>
                          </ng-container>

                          <!-- Symbol Column -->
                        <ng-container matColumnDef="End_Time">
                            <th mat-header-cell *matHeaderCellDef> Hora salida </th>
                            <td mat-cell *matCellDef="let element"> {{element.End_Time}} </td>
                          </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                </div>
            </mat-tab>
            <mat-tab label="Reservaciones Futuras">
                <div>

                </div>
            </mat-tab>
            <mat-tab label="Todas las reservaciones"> 
                <div *ngIf="all_reservations_flag">
                    <table mat-table [dataSource]="all_reservations" class="mat-elevation-z8">

                        <!-- Position Column -->
                        <ng-container matColumnDef="Reservation_ID">
                          <th mat-header-cell *matHeaderCellDef> Id de reservación </th>
                          <td mat-cell *matCellDef="let element"> {{element.Reservation_ID}} </td>
                        </ng-container>
                      
                        <!-- Name Column -->
                        <ng-container matColumnDef="User_ID">
                          <th mat-header-cell *matHeaderCellDef> Id de usuario </th>
                          <td mat-cell *matCellDef="let element"> {{element.User_ID}} </td>
                        </ng-container>
                      
                        <!-- Weight Column -->
                        <ng-container matColumnDef="Number_Of_People">
                          <th mat-header-cell *matHeaderCellDef> Espacios </th>
                          <td mat-cell *matCellDef="let element"> {{element.Number_Of_People}} </td>
                        </ng-container>
                      
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="Date_Reserved">
                          <th mat-header-cell *matHeaderCellDef> Fecha </th>
                          <td mat-cell *matCellDef="let element"> {{element.Date_Reserved}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="Start_Time">
                            <th mat-header-cell *matHeaderCellDef> Hora entrada </th>
                            <td mat-cell *matCellDef="let element"> {{element.Start_Time}} </td>
                          </ng-container>

                          <!-- Symbol Column -->
                        <ng-container matColumnDef="End_Time">
                            <th mat-header-cell *matHeaderCellDef> Hora salida </th>
                            <td mat-cell *matCellDef="let element"> {{element.End_Time}} </td>
                          </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                </div>
            </mat-tab>
          </mat-tab-group>
      </div>
    </div>
</div>